@mixin typography {
    font-size: 14px;
    color:rgb(21, 21, 21);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    margin:0 auto;
    max-width: 375px;
   
}
h1{
    @include typography;
}
.container{
    
    border:1px solid blue;
    display: flex;
    flex-wrap: wrap;
    
    flex-basis:auto;
    flex-shrink: 1;
    flex-grow:1;
    justify-content: space-around;
    .country{
        background-color: rgb(128, 128, 128);
        margin-bottom: 10px;
        img{
            width:320px;
            height: 230px;
        }
        border:1px solid black;
    }
    .text-country{
        padding:10px;
    }
   
}
// ---------- DESKTOP VERSIONS ------------- //

@media screen and (min-width: 375px) {
    body {
      max-width: 1444px;
    }
  }